{% extends 'base.html' %}

{% block title %}Nuevo Ingrediente{% endblock %}

{% block content %}
<h2>Registrar Ingrediente</h2>
<form method="POST" action="{{ url_for('ingredientes.guardar') }}">
  <label>Nombre:</label>
  <input type="text" name="nombre"><br>

  <label>Unidad de medida:</label>
  <input type="text" name="unidad_medida"><br>

  <label>Stock actual:</label>
  <input type="number" name="stock_actual"><br>

  <label>Stock mínimo:</label>
  <input type="number" name="stock_minimo"><br>

  <label>Proveedor:</label>
  <input type="text" name="proveedor_principal"><br>

  <label>Costo por unidad:</label>
  <input type="number" step="0.01" name="costo_por_unidad"><br>

  <label>Días caducidad:</label>
  <input type="number" name="dias_caducidad"><br>

  <button type="submit">Guardar</button>
</form>
{% endblock %}
