
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-doc:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-align-justify:before { content: '\e804'; } /* '' */
.icon-folder:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
