<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Página{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <header>
        <!-- Barra de navegación u otro contenido común -->
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <!-- Pie de página -->
    </footer>
</body>
</html>
