body {
    font-family: Arial, sans-serif;
    background-color: #F2F0EB;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    color: #000000;
  }
  
  table {
    width: 75%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #400D11;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  td{
    color: #ffff;
  }

  th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  th {
    background-color: #A62B0f;
    color: white;
  }
  